@font-face {
    font-family: 'ProximaNovaReg';
    src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.otf');
    src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), /*url('../fonts/ProximaNova-Reg.woff2') format('woff2'),*/
    url('../fonts/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular/ProximaNova-Regular.svg#PT Sans Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaLight';
    src: url('../fonts/ProximaNova-Light/ProximaNova-Light.otf');
    src: url('../fonts/ProximaNova-Light/ProximaNova-Light.eot?#iefix') format('embedded-opentype'), /*url('../fonts/ProximaNova-Reg.woff2') format('woff2'),*/
    url('../fonts/ProximaNova-Light/ProximaNova-Light.woff') format('woff'), url('../fonts/ProximaNova-Light/ProximaNova-Light.ttf') format('truetype'), url('../fonts/ProximaNova-Light/ProximaNova-Light.svg#PT Sans Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaBold';
    src: url('../fonts/ProximaNova-Bold/ProximaNova-Bold.otf');
    src: url('../fonts/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Reg.woff2') format('woff2'), /*/*url('../fonts/ProximaNova-Bold/ProximaNova-Bold.woff') format('woff'),*/
    url('../fonts/ProximaNova-Bold/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold/ProximaNova-Bold.svg#PT Sans Regular') format('svg');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'IdealistLight';
    src: url('../fonts/IdealistLight/IdealistLight.otf');
    src: url('../fonts/IdealistLight/IdealistLight.eot?#iefix') format('embedded-opentype'), url('../fonts/IdealistLight.woff2') format('woff2'), /*/*url('../fonts/ProximaNova-Bold/ProximaNova-Bold.woff') format('woff'),*/
    url('../fonts/IdealistLight/IdealistLight.ttf') format('truetype'), url('../fonts/IdealistLight/IdealistLight.svg#PT Sans Regular') format('svg');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'IdealistRegular';
    src: url('../fonts/IdealistRegular/IdealistRegular.otf');
    src: url('../fonts/IdealistRegular/IdealistRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/IdealistRegular.woff2') format('woff2'), /*/*url('../fonts/ProximaNova-Bold/ProximaNova-Bold.woff') format('woff'),*/
    url('../fonts/IdealistRegular/IdealistRegular.ttf') format('truetype'), url('../fonts/IdealistRegular/IdealistRegular.svg#PT Sans Regular') format('svg');
    font-style: normal;
    font-weight: normal;
}